/* ---- All Sections ----- */
* {
    /* Global Color Variables */
    --linkColor: #1E90FF;
    --bgcolor: #141414;
    --highlight: #ff1e1e;
    --terminal: #300a24;
}

body {
    font-family: monospace;
    font-weight: bold;
    color: var(--linkColor);
    background: var(--bgcolor);
    z-index: -2;
}

/* Nav Bar */
nav {
    font-size: 18px;
    height: 10vh;
    align-items: center;
    display: flex;
    align-items: center;
}

/* Links */
a {
    font-size: 18px;
    color: var(--linkColor);
    display:inline-block;
}

a:link {
    color: var(--linkColor)
}

a:visited {
    color : var(--linkColor)
}

a:hover {
    color: var(--highlight);
}

nav a {
    padding: 5vh 3vw 0vh 3vw
}

/* Link Buttons */
.button {
    font-size: 18px;
    color: var(--linkColor);
    background-color: var(--terminal);
    display: table-cell;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    color: var(--highlight);
}

/* Switching pages with sections hiding */
section {
    display: none;
    height: 90vh;
}

section:target { /* Show section */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section:target iframe {
    visibility: visible;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

h1 {
    padding-left: 20px;
}

h2 {
    margin: 10px;
    width: 100px;
}
/* ----- End All Sections ----- */

/* ----- Home Section ----- */
#home {
    flex-direction: column;
    flex-wrap: wrap;
}

.icons {
    display: flex;
}

.icon {
    width: 50px;
    fill: var(--linkColor);
    margin: 10px;
}

.icon:hover {
    fill: var(--highlight);
}

#terminal {
    font-size: 18px;
    padding: 1em;
    color: white;
    width: 600px;
    background-color: var(--terminal);
    border-style: solid;
    border-radius: 10px;
    align-self: center;
}
/* ----- End Home Section ----- */

/* ----- Blender ----- */
#blenderImage {
    height: 50vh;
    border-radius: 10px;
    border: 5px solid var(--linkColor);
}
/* ----- End Blender Section ----- */

/* ----- Links Section ----- */
.menu {
    border-style: solid;
    border-radius: 10px;
    padding-bottom: 20px;
}

.linkContainer{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

#links {
    align-items: start;
}
/* ----- End Links Section ----- */

/* ----- Projects Section ----- */
#projects {
    align-items: start; 
}

.projectContainer {
    width: 50vw;
    min-width: fit-content;
    margin: 10px;
    display: flex;
    border: solid;
    border-radius: 10px;
    background: var(--terminal);
}

.projectImage {
    width: 300px;
    border-right: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.projectDescription {
    margin: 10px;
    min-width: 50vw;
    color: white;
}
/* ----- End Projects Section ----- */


/* ----- WolframCellular Section ----- */
.wolframbutton {
    border: solid;
    border-color: var(--linkColor);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wolframbutton:hover {
    border-color: var(--highlight);
}

.wolframDisplaySquare {
    position: relative;
    border: solid;
    border-width: 1px;
    margin: 1px;
    border-color: var(--linkColor);
    width: 20px;
    height: 20px;
}

#wolframcellular {  
    position: static;
    border: solid;
    width: 800px;
    height: 800px;
    border-radius: 10px;
}
/* ----- End WolframCellular Section ----- */

/* ----- Tree Section ----- */

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sidebar {
    background: rgba(51,51,51,.5);
    width: 500px;
    height: 90vh;
    visibility: visible;
    transition: all 0.3s ease;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.close-button {
    height: 40px;
    width: 40px;  
    border-radius: 50%;
    border-style: solid;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: var(--linkcolor);
    margin: 20px 20px;
    float: right;
}

.treeContainer {
    color: white;
    margin: 10px;
    font-size: 20px;
}

.treeInput {
    padding: 10px;
}

.wrapper .arrow {
    display: none;
}

.sidebar span {
    margin-left: 20px;
}

h3 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}



body.close .wrapper .sidebar{
    display: none;
}

body.close .wrapper .arrow {
    display: inline-block;
}

body.close .wrapper .sidebar .close-button {
    display: none; 
}

/* ----- End Tree Section ----- */

/* ----- Smile Section ------ */
#smileterminal {
    font-size: 18px;
    padding: 1em;
    color: white;
    width: 600px;
    background-color: rgba(18, 118, 130, .99);
    border-style: solid;
    border-radius: 10px;
    align-self: center;
}