* {
    /* Global Color Variables */
    --linkColor: #1E90FF;
    --bgcolor: #141414;
    --highlight: #ff1e1e;
    --terminal: #300a24;
}

body {
    font-family: monospace;
    font-weight: bold;
    color: var(--linkColor);
    overflow: hidden;
    background: var(--bgcolor);
    z-index: -2;
}

nav {
    font-size: 18px;
    padding: 5vh 5vw 5vh 5vw;
}

/* ----- Links ------ */

a {
    font-size: 18px;
    color: var(--linkColor);
}

a:link {
    color: var(--linkColor)
}

a:visited {
    color : var(--linkColor)
}

a:hover {
    color: var(--highlight);
}

nav a {
    text-align: center;
    padding: 0 2vw 0 2vw;
}

.button {
    font-size: 18px;
    color: var(--linkColor);
    background-color: var(--terminal);
    display: table-cell;
    padding: 25px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.button:hover {
    font-size: 25px;
    color: var(--highlight);
}



/* ----- Section ----- */

section {
    display: none;
    height: 70vh;
}

section:target { /* Show section */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
}

section:target iframe {
    visibility: visible;
}

/* ----- Terminal ----- */

#terminal {
    font-size: 18px;
    padding: 1em;
    color: white;
    width: 600px;
    background-color: var(--terminal);
    border-style: solid;
    align-self: center;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* ----- List Title ----- */
.subSection {
    width: 100%;
    text-align: center;
}

/* ----- Blender Image Viewer ----- */
#blenderImage {
    height: 50vh;
    border-radius: 10px;
    border: 5px solid var(--linkColor);
}

