* {
    /* Global Color Variables */
    --linkColor: #1E90FF;
    --bgcolor: #141414;
    --highlight: #ff1e1e;
    --terminal: #300a24;
}

body {
    font-family: monospace;
    font-weight: bold;
    color: var(--linkColor);
    background: var(--bgcolor);
    z-index: -2;
}

nav {
    font-size: 18px;
    padding: 5vh 5vw 5vh 5vw;
}

/* ----- Links ------ */

a {
    font-size: 18px;
    color: var(--linkColor);
}

a:link {
    color: var(--linkColor)
}

a:visited {
    color : var(--linkColor)
}

a:hover {
    color: var(--highlight);
}

nav a {
    text-align: center;
    padding: 0 2vw 0 2vw;
}

.button {
    font-size: 18px;
    color: var(--linkColor);
    background-color: var(--terminal);
    display: table-cell;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    color: var(--highlight);
}


/* ----- Section ----- */

section {
    display: none;
    height: 70vh;
}

section:target { /* Show section */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
}

section:target iframe {
    visibility: visible;
}

/* ----- Terminal ----- */

#terminal {
    font-size: 18px;
    padding: 1em;
    color: white;
    width: 600px;
    background-color: var(--terminal);
    border-style: solid;
    align-self: center;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* ----- List Title ----- */
.subSection {
    width: 100%;
    text-align: center;
}

/* ----- Blender ----- */

#blenderImage {
    height: 50vh;
    border-radius: 10px;
    border: 5px solid var(--linkColor);
}

/* ----- Links ----- */

.menu {
    border-style: solid;
    border-radius: 10px;
    padding-bottom: 20px;
}

.linkContainer{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

#links {
    align-items: start;
}

h1 {
    padding-left: 20px;
}

/* ----- Projects ----- */

#projects {
    align-items: start; 
}

.projectContainer {
    width: 50vw;
    min-width: fit-content;
    margin: 10px;
    display: flex;
    border: solid;
    border-radius: 10px;
}

.projectImage {
    width: 300px;
    border-right: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.projectDescription {
    margin: 10px;
    min-width: 50vw;
}



/* ----- Wolfram Cellular ----- */

.wolframbutton {
    border: solid;
    border-color: var(--linkColor);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wolframbutton:hover {
    border-color: var(--highlight);
}

.wolframDisplaySquare {
    position: relative;
    border: solid;
    border-width: 1px;
    margin: 1px;
    border-color: var(--linkColor);
    width: 20px;
    height: 20px;
}

#wolframcellular {  
    position: static;
    border: solid;
    width: 800px;
    height: 800px;
    border-radius: 10px;
}

h2 {
    margin: 10px;
    width: 100px;
}
